/* 공통 */
#banner {
    min-height: 100vh;
    box-sizing: border-box;
    height: auto;
}





/* quick menu */
.quick_menuBox {
    position: fixed;
    bottom: 30px;
    right: 40px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #6cc091;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.quick_menuBox .quick_inner {
    position: absolute;
    bottom: 44px;
    right: 0;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    padding: 10px;
    background-color: #6cc091;
    transition: all 0.3s;
}

.quick_inner.quick_click {
    display: flex;
}


.quick_menuBox .quick_inner a {
    color: #fff;
    padding: 6px;
    text-decoration: none;
    transition: all 0.3s;
}

.quick_menuBox .quick_inner a:hover {
    color: #ddd;
}






/* login page / join page */
#banner .login_form h1 {
    font-size: 2.5em;
    margin: 0 0 1.6em 0;
}

.login_whole {
    max-width: 500px;
    margin: 0 auto;
}

#banner .login_whole > div {
    margin: 0 0 26px 0;
}

#banner .login_whole > div h3 {
    margin: 0 0 10px 0;
    font-size: 1.1em;
}

#banner .login_whole > div input {
    background-color: #87c7a2;
}

#banner .login_whole > div input:focus {
    border: solid 2px #fff;
}

.login_btn {
    margin-top: 1em;
}
















