/* 공통 */
#banner {
    min-height: 100vh;
    box-sizing: border-box;
    height: auto;
}

button.btn2 {
    background-color: #6cc091;
    color: #fff !important;
    transition: all 0.3s;
}

button.btn2:hover {
    background-color: rgba(134, 198, 160, 1);
}





/* quick menu */
.quick_menuBox {
    position: fixed;
    bottom: 30px;
    right: 40px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #6cc091;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.quick_menuBox .quick_inner {
    position: absolute;
    bottom: 44px;
    right: 0;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    padding: 10px;
    background-color: #6cc091;
    transition: all 0.3s;
}

.quick_inner.quick_click {
    display: flex;
}


.quick_menuBox .quick_inner a {
    color: #fff;
    padding: 6px;
    text-decoration: none;
    transition: all 0.3s;
}

.quick_menuBox .quick_inner a:hover {
    color: #ddd;
}






/* login page / join page */
#banner .login_form h1 {
    font-size: 2.5em;
    margin: 0 0 1.6em 0;
}

.login_whole {
    max-width: 500px;
    margin: 0 auto;
}

#banner .login_whole > div {
    margin: 0 0 26px 0;
}

#banner .login_whole > div h3 {
    margin: 0 0 10px 0;
    font-size: 1.1em;
}

#banner .login_whole > div input {
    background-color: #87c7a2;
}

#banner .login_whole > div input:focus {
    border: solid 2px #fff;
}

.login_btn {
    margin-top: 1em;
}






/* 게시판 */
#banner h1.board_title {
    font-size: 2.5em;
}

table th {
    color: #f0f0f0;
}

table th:nth-child(4),
table td:nth-child(4),
table th:nth-child(5),
table td:nth-child(5) {
    display: none;
}

table th:nth-child(1),
table td:nth-child(1) {
    min-width: 80px;
    width: 80px;
    max-width: 80px;
}

table th:nth-child(3),
table td:nth-child(3) {
    min-width: 120px;
    width: 120px;
    max-width: 120px;
}


/* 게시판 글 등록 */
.input-group {
    margin: 0 0 2em 0;
}

#banner .input-group input {
    background-color: #87c7a2;
}

#banner .input-group input:focus {
    border: solid 2px #fff;
}







/* 게시판 디테일 */
.view_detail_whole {
    max-width: 700px;

}

.view_detail_whole div {
    margin: 0 0 2em 0;
}

.view_detail_whole div span {
    display: block;
    margin-bottom: 4px;
    color: #f0f0f0;
    font-size: 16px;
}

.view_detail_whole div input,
.view_detail_whole div textarea {
    background-color: transparent;
}












@media (min-width: 1024px) {

    /* 게시판 */
    table th:nth-child(4),
    table td:nth-child(4),
    table th:nth-child(5),
    table td:nth-child(5) {
        display: table-cell;
    }


    table th:nth-child(4),
    table td:nth-child(4) {
        min-width: 150px;
        width: 150px;
        max-width: 150px;
    }

    table th:nth-child(5),
    table td:nth-child(5) {
        min-width: 100px;
        width: 100px;
        max-width: 100px;
    }

}












